@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@plugin "daisyui";

.font-bubble {
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footers {
  border-radius: 2000px 2000px 0px 0px;
}
.navs {
  background: transparent;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f59e0b;
  background: #ffffff33;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  backdrop-filter: blur(12px);
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #808080;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #f59e0b;
}
